#define INCL_WIN
#include <os2.h>
#include "pmfloppy.h"

POINTER  IDR_PMFLOPPY pmfloppy.ico


MENU IDR_PMFLOPPY PRELOAD
BEGIN
  SUBMENU "~Disk", IDM_DISK_MENU
  BEGIN
    MENUITEM "~Read\t^R",   IDM_READ,   MIS_TEXT
    MENUITEM "~Write\t^W",  IDM_WRITE,  MIS_TEXT
	MENUITEM "D~uplicate\t^U", IDM_DUPLICATE,	MIS_TEXT
	MENUITEM "Copy/Chec~k\t^K",	IDM_COPYCHECK, MIS_TEXT
    MENUITEM SEPARATOR
    MENUITEM "~About\t^A",  IDM_ABOUT,  MIS_TEXT
  END

  SUBMENU "~Image", IDM_DISK_MENU
  BEGIN
    MENUITEM "~Load\t^L",   IDM_LOAD,   MIS_TEXT
    MENUITEM "~Save\t^S",   IDM_SAVE,   MIS_TEXT
    MENUITEM "~Delete\t^D", IDM_DELETE, MIS_TEXT
    MENUITEM SEPARATOR
    MENUITEM "~Compare\t^C",IDM_COMP,   MIS_TEXT
    MENUITEM SEPARATOR
	MENUITEM "Floppy->file", IDM_FLOPPY_TO_FILE, MIS_TEXT
	MENUITEM "File->floppy", IDM_FILE_TO_FLOPPY, MIS_TEXT
  END
  
  MENUITEM "~Exit", IDM_EXIT, MIS_TEXT
END

ACCELTABLE IDR_PMFLOPPY PRELOAD
BEGIN
  "^a", IDM_ABOUT
  "^d", IDM_DELETE
  "^l", IDM_LOAD
  "^r", IDM_READ
  "^s", IDM_SAVE
  "^w", IDM_WRITE
  "^c", IDM_COMP
  "^u", IDM_DUPLICATE
  "^k", IDM_COPYCHECK
END

RCINCLUDE COPYDLGS.DLG
rcinclude copyGen.dlg
